# Maven
/target/

# IntelliJ
.idea/
*.iml
out/

# Logs
*.log

# Spring Boot
spring-boot-*.jar

# macOS
.DS_Store

# VSCode
.vscode/

# Environment files
application*.properties
application*.yml

# Node (if front-end later)
node_modules/
